/* Alejandro Barrionuevo Rosado
 * CSS principal       */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #009aa0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #015e61;
}

header {
  background-color:#009aa0;
  color: white;
  text-align: center;
  font-size: 40px;
  font-family: Arial;
}

section {
  float: left;
  width: 100%;
  margin: auto;
  font-family: Arial;
}

h2{
  color: #015e61;
}

footer {
  color: #015e61;
  clear: left;
}

hr {
  border-color: #009aa0;
  background-color: #009aa0;
}

.paginas{
  color: #015e61;
  font-style: italic;
}