/* Alejandro Barrionuevo Rosado
 * CSS de la pagina autor       */

body {
  background-color: #015e618f; 
  font-family: Arial, sans-serif;
}

hr {
  border-color: #009aa0;
  background-color: #009aa0;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #009aa0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #015e61;
}

header{
  color: white;
}

main {
  color: white;
}


section {
  color: #015e61;
}

.correo {
  color: white;
}

a {
  color: white;
}

img {
  height: 200px;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap
}